@model CDP.Core.Allocations.UserAllocation

@{
    ViewData["Title"] = "Edit User Allocation";
}

<h3>Edit User Allocation</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUserAllocation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" readonly/>
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Allocation" class="control-label"></label>
                <select asp-for="AllocationId" class="form-control" asp-items="@(new SelectList(@ViewBag.AllocationList,"Id", "Name"))"> </select>
                <span asp-validation-for="Allocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="UserAllocation">Back to List</a>*@
    <a class="btn btn-info" asp-action="UserAllocation"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>

