<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        .table thead {
            background-color: #17a2b8;
            color: white;
        }

        .table tbody {
            background-color: #d5eaf0;
        }
        .nav>li>a{
            padding: 15px 10px !important;
        }
        table .btn {
            padding: 1px 6px !important;
        }
        .pagination > li > a {
            padding: 0px 6px !important;
        }
        .table > thead > tr > th, .table > tbody > tr > td {
            padding: 4px !important;
        }
        table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
            bottom: 4px !important;
        }
        .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
            border-bottom-width: 0px;
        }
        .dataTables_wrapper .form-control {
            font-size: 10px;
            height: 25px;
            font-weight: bold;
        }
    </style>
    <title>@ViewData["Title"] - CDP</title>
    <script type="text/javascript">
        function setUserIdForLink(UserId) {
            localStorage.setItem("UserId", UserId);
            //$("#lnkHome").attr("href", "/?UserId=" + UserId);
            //$("#lnkUserTraining").attr("href", "/Training/UserTraining?UserId=" + UserId);
            //$("#lnkAspiration").attr("href", "/Aspiration/List?UserId=" + UserId);
            //$("#lnkUserMentor").attr("href", "/Mentor/UserMentor?UserId=" + UserId);
            //$("#lnkUserAllocation").attr("href", "/Allocation/UserAllocation?UserId=" + UserId);
            //$("#lnkUserInternal").attr("href", "/Internal/UserInternal?UserId=" + UserId);
        }
    </script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="lnkHome" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">CDP</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Training" asp-action="Index">Training</a></li>*@
                    @*<li><a asp-area="" asp-controller="Training" asp-action="TrainingList">Training Master</a></li>*@
                    <li><a id="lnkUserTraining" asp-area="" asp-controller="Training" asp-action="UserTraining">Training</a></li>
                    <li><a asp-area="" asp-controller="User" asp-action="List">Employees</a></li>
                    <li><a id="lnkAspiration" asp-area="" asp-controller="Aspiration" asp-action="List">Aspiration</a></li>
                    <li><a id="lnkUserMentor" asp-area="" asp-controller="Mentor" asp-action="UserMentor">Mentor</a></li>
                    <li><a id="lnkUserAllocation" asp-area="" asp-controller="Allocation" asp-action="UserAllocation">Allocation</a></li>
                    <li><a id="lnkUserInternal" asp-area="" asp-controller="Internal" asp-action="UserInternal">Internal</a></li>
                    <li><a asp-area="" asp-controller="Calendar" asp-action="Index">Calendar</a></li>
                    <li><a asp-area="" asp-controller="User" asp-action="ListExPre">External</a></li>
                    <li><a asp-area="" asp-controller="Report" asp-action="Index">Report</a></li>
                    @*<li><a asp-area="" asp-controller="Skill" asp-action="SkillTypeList">Skill Type</a></li>
        <li><a asp-area="" asp-controller="Skill" asp-action="SkillList">Skill</a></li>
        <li><a asp-area="" asp-controller="Skill" asp-action="UserSkill">User Skill</a></li>*@
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <div id="wait" style=" display: none; position: absolute; top: 50%; left: 45%; padding: 2px; ">
            <img src='~/images/ajax-loader-round.gif' />
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - CAST</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script src="~/js/moment.js"></script>
    <script src="~/js/respond.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/bootstrap-treeview.js"></script>
    @*<script src="~/js/bootstrap-datepicker.min.js"></script>*@
    <script src="~/js/bootstrap-year-calendar.min.js"></script>
    <script src="~/js/bootstrap-popover.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    @*<script src="~/js/jquery.datetimepicker.js">*@

    <script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>*@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
        <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />*@


    <script type="text/javascript">
        $(document).ready(function () {
            var UserId = getUrlVars()["UserId"];
            $(document).ajaxStart(function () {
                $("#wait").css("display", "block");
            });
            $(document).ajaxError(function () {
                $("#wait").css("display", "none");
            });
            $(document).ajaxComplete(function () {
                $("#wait").css("display", "none");
            });

            if (UserId != null) {
                setUserIdForLink(UserId);
            }

            function getUrlVars() {
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }

            //function setUserIdForLink(UserId) {
            //    $("#lnkHome").attr("href", "/?UserId=" + UserId);
            //    $("#lnkUserTraining").attr("href", "/Training/UserTraining?UserId=" + UserId);
            //    $("#lnkAspiration").attr("href", "/Aspiration/List?UserId=" + UserId);
            //    $("#lnkUserMentor").attr("href", "/Mentor/UserMentor?UserId=" + UserId);
            //    $("#lnkUserAllocation").attr("href", "/Allocation/UserAllocation?UserId=" + UserId);
            //    $("#lnkUserInternal").attr("href", "/Internal/UserInternal?UserId=" + UserId);
            //}
        });
    </script>
</body >
</html >
